 {% extends "base.html" %} {% block page_title %} {{page_title}} {% endblock page_title %} {% block contents %}

<h1>{{title}}</h1>
<div class="card mb-2" style="width: 13rem;">
    <div class="card-header">
        <h5> {{Heading}}</h5>
    </div>


</div>

{% if messages %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr>

                    <th class="text-center">Id Status</th>
                    <th class="text-center">Nama Status</th>
                    <th class="text-center">Aksi</th>

                </tr>
            </thead>
            <tbody>
                {{post_form.as_table}} {% for status in Statuss %}

                <tr>

                    <td class="text-center">{{status.id_status}}</td>
                    <td class="text-center">{{status.nama_status}}</td>

                    <td class="text-center">

                        <a href="{% url 'deletestatus' status.id_status %}" class="btn btn-danger" onclick="return confirm('Beneran mau hapus {{status.nama_status}}')">Delete</a>
                        <a class="btn btn-warning" href="{% url 'updatestatus' status.id_status %}" title="">Update</a>
                    </td>
                </tr>


                {% endfor %}

        </table><a class="btn btn-primary" href="{% url 'createstatus' %}">Tambah</a>

    </div>

</form>
{% endblock contents %}