 {% extends "base.html" %} {% block page_title %} {{page_title}} {% endblock page_title %} {% block contents %}
<h1>{{title}}</h1>
{% if messages %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Id Status</th>
                    <th scope="col">Nama Status</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{post_form.as_table}} {% for kategori in Kategoris %}

                <tr>

                    <td>{{kategori.id_kategori}}</td>
                    <td>{{kategori.nama_kategori}}</td>

                    <td>

                        <a href="{% url 'deletekategori' kategori.id_kategori %}" class="btn btn-danger" onclick="return confirm('Beneran mau hapus {{kategori.nama_kategori}}')">Delete</a>
                        <a class="btn btn-warning" href="{% url 'updatekategori' kategori.id_kategori %}" title="">Update</a>
                    </td>
                </tr>


                {% endfor %}

        </table>
        <a class="btn btn-primary" href="{% url 'createkategori' %}">Tambah</a>
    </div>

</form>
{% endblock contents %}